.price-page-container{
    padding-top: 4rem;
    background: linear-gradient(to bottom, #eeba2b 60%, white 50%);
}

  
  .pricing-intro > h1 {
    color: black;
    font-size: 70px;
    text-align: center;
  }
  
  .pricing-para {
    margin: 1rem 0rem;
    font-size: larger;
    justify-content: center;
    text-align: center;
  }
  
  .pricing-buttons {
    display: flex;
    justify-content: center;
  }
  
  .pricing-buttons button {
    background-color: black;
    color: aliceblue;
    border: none;
    font-weight: 600;
    padding: 7px 14px;
    margin: 0 5px; 
  }
  .pricing-buttons :nth-child(2){
    color: black;
  }
  .pricing-buttons :nth-child(2){
    background-color: transparent;
     border: 1px solid black;
  }
  
  .price-cards-container {
    display: flex;
    align-items:baseline;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top: 2rem;
  }
@media only screen and (max-width: 767px){
.price-page-container{
  background: #eeba2b;
}
  .cards{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:0.5rem 0rem;
  }
  .pricing-intro{
    padding: 0.5rem;
  }
}