.features-container {
    background-color: #eeba2b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }
  
  .h1-features {
    font-size: 100px;
    text-align: center;
    margin: 0;
  }
  
  .features-description {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 18.5px;
    font-weight: 300;
    text-align: center;
  }
  
  .features-btn {
    text-align: center;
  }
  