.bottom-nav-container{
    position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color : black;
        border-top: 1px solid #ccc;
        padding: 1rem;
        border: none;
        z-index: 4;
}
.bottom-nav-container ul{
    display: flex;
    justify-content: space-between;
}
.bottom-nav-container ul li {
    list-style: none;
    text-decoration:none;
}
.bottom-nav-container ul li>a {
    color: white;
    text-decoration: none;
}

.bottom-nav-container ul li:nth-child(2) a {
    padding: 0.5rem;
    background-color: #eeba2b;
    color: black;
    border-radius: 5px;
}
@media only screen and (min-width:768px) {
    .bottom-nav-container{
        display: none;
    }
}