.nav-links-container {
    background-color: #eeba2b;
    display: flex;
    justify-content: space-between; 
    position: fixed;
    width: 100%;
    height: auto;
    margin-top:0rem ;
  }
  
  .page-links ul {
    display: flex;
    justify-content: center; 
  }
  
  .page-links ul li {
    list-style: none;
    padding: 1rem;
  }
  
  .page-links ul li > a {
    color: black;
    text-decoration: none;
  }
  
  .logo {
    /* padding: 2px; */
    margin-left: 2rem;
    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top : 5px;
  }
  .logo img{
    margin-left: -0.78rem;
  }
  
  .users-link ul {
    display: flex;
  }
  
  .users-link ul li {
    list-style: none;
    padding: 1rem;
  }
  
  .users-link ul li > a {
    color: black;
    text-decoration: none;
  }
  
  .users-link {
    display: flex;
  }
  .users-link ul :nth-child(2) > a{
    background-color: black;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
  }
  