.cards {
    border: 1px solid #e3a806;
    width: 25%;
    padding: 2.5rem;
    background-color: white;
    border-radius: 15px;
}

.cards:hover {
    animation: scaleOut ease-in-out 0.3s forwards;
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

.cards:not(:hover) {
    animation: scaleIn ease-in-out 0.3s forwards;
    
}

@keyframes scaleIn {
    0% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

#light-font-small {
    font-weight: 500;
    font-size: 1rem;
    color: grey;
}

#light-font {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0.5rem;
}

.price h1 {
    font-size: 40px;
    margin-bottom: 1rem;
}

hr {
    opacity: 0.5;
    margin: 1.5rem 0;
}

li {
    margin-bottom: 0.5rem;
    color: grey;
}

.price-page-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}